.admin-form-container {
  padding: 30px;
}

.admin-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
}

.admin-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.admin-form button {
  padding: 10px;
  background: #111827;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.admin-form button:hover {
  background: #374151;
}