.services-page{
  padding:120px 0;
}

.service-card{
  background:white;
  padding:40px;
  text-align:center;
  border-radius:15px;
  box-shadow:0 3px 15px rgba(0,0,0,.1);
  transition:.3s;
}

.service-card:hover{
  transform:translateY(-10px);
}